.DS_Store
.env
npm-debug.log
yarn-error.log
Thumbs.db

/.idea
/.vagrant
/node_modules
/resources/vendor
/storage/*.key
/vendor

/public/content/plugins/
/public/content/uploads/
/public/content/upgrade/

/public/content/themes/*/assets/css
/!public/content/themes/*/assets/css/splash.css
/public/content/themes/*/assets/fonts
/public/content/themes/*/assets/js

/public/cms/*
!/public/cms/.gitkeep

/public/hot
/public/storage
