.DS_Store
.env
npm-debug.log
yarn-error.log
Thumbs.db

/.idea
/.vagrant
/node_modules
/resources/vendor
/storage/*.key
/vendor

/public/content/uploads/
/public/content/upgrade/

/public/css/*
/public/fonts/*
/public/js/*
/public/mix-manifest.json

/public/cms/*
!/public/cms/.gitkeep

/public/hot
/public/storage
