html {
    display: table;
    width: 100%;
    height: 100%;
}

body {

    font-family: 'Roboto', sans-serif;
    height: 100%;

    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

.nav {

    margin-top: 2rem;
    display: inline-block;
    list-style: none;

    > li {
        float: left;
        margin-right: 1rem;
    }

    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

.logo {
    width: 500px;
}

.tag-line {
    margin: 0;
    font-weight: 300;
    font-size: 1.2rem;
}

a {
    color: #E94431;
    margin: 0 0.25rem;
}

footer {

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #555;
    text-align: center;

    a {
        color: #E94431;
        text-decoration: none;
    }

    .disclaimer {
        font-size: 0.8rem;
        color: #BBB;
    }
}